<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<title>Cyrus Malekani</title>
</head>
<body>
  <br>
  <center><p style="font-size: 66px">Cyrus Malekani</p>
    <br>
    <table>
      {% set videos_per_row = 2 %}
      {% for i in range(0, videos|length, videos_per_row) %}
        <tr>
          {% for video in videos[i:i+videos_per_row] %}
            <td>
              <video width="333" height="333" controls> 
              <source src="{{ url_for('static', filename=video) }}" type="video/mp4"></video>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </center>
</body>
</html>